.auth-form {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label, 
.form-control input {
    width: 100%;
    display: block;
}


.form-control label {
    margin-bottom: 1.2rem;
}
.form-control
.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background: #CCD5AE;
    font: inherit;
    border: 1px solid rgb(204, 213, 174);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(254, 237, 205, 0.26);
    color: #D4A373;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #FAEDCD;
    border-color: #FEFAE0;
}